*{
	font-family: sans-serif;
}

#canvas {
	border: 1px black solid;
}

#console {
	background-color: black;
	color: lime;
	font-family: Courier;
}
#console_animation {
	background-color: black;
	color: lime;
	font-family: Courier;
}
::-ms-input-placeholder { /* Microsoft Edge */
	color: lime;
}
::placeholder {
	color: lime;
	opacity: 1;
}