*{
	font-family: 'Poppins';
}


/* animations */
@keyframes text_load {
	0% {
		font-size: 0px;
	}
}

#body{
	background: rgb(50, 50, 50);
}


.title_button {
	display: block;
	width: 90%;
	margin: auto;
}

.text_title {
	text-align: center;
	color: white;
	width:100%,
}

#spell_description {
	color: white;	
}
table {
	color: white;
	table-layout: fixed;
	border: 1px white solid;
	width: 100%;
}
th, td {
	background-color: grey;
	color: white;
}
#spell_input {
	/* center */
	display: block;
	margin: auto;
	/* dimensions */
	width: 80%;
}

#spell_input:focus {
	border-left: 10px limegreen solid;
}

.spell_accent {
	margin: 0px;
}
